<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.psys.system.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.psys.system.entity.Department">
        <id column="dp_id" property="dpId" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="par_id" property="parId" />
        <result column="dept_desc" property="deptDesc" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
